* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #B1A296;
    font-family: sans-serif;
    padding: 30px 35px;
    border-bottom: 3px solid #BF0000;
}
header h1 {
    color: #BF0000;
    font-size: 36px;
}
header a {
    text-decoration: none;
    color: #BF0000;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 28px;
}
header nav ul li a {
    padding: 15px;
    font-family: sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    background-color: #7395AE;
}
aside {
    display: flex;
    align-self: start;
    font-size: 48px;
    background-color: #7395AE;
}
main {
    background-color: #557A95;
}
.project-images {
    margin: 10px 10px;
    width: 90%;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}
address {
    background-color: #B1A296;
    color: #BF0000;
    border-top: 3px solid #BF0000;
    padding: 30px 35px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: sans-serif;
    text-decoration: none;
    justify-content: space-evenly;
}
